@CHARSET "UTF-8";
#search{
	border:#EFEFEF 1px solid;
	width:1240px;
	height:200px;
	overflow:visible;
	position:relative;
}
#searchTextBox{
	border:#EFEFEF 1px solid;
	width:500px;
	position: absolute;  
    top: 50%; left: 50%;  
    margin-left: -300px; /* (width + padding)/2 */  
    margin-top: 25px;
    z-index:3;
    background-color: #EFEFEF;
}
#searchBox{
	position:relative;
	z-index:1;
	border:#EFEFEF 1px solid;
	width:1240px;
	height:750px;
	overflow:visible;
	position:relative;

}
#searchText{
	padding:0;
	width:500px;
	height:50px;
	position: absolute;  
    top: 50%; left: 50%;  
    margin-left: -300px; /* (width + padding)/2 */  
    margin-top: -25px; /* (height + padding)/2 */ 
    font-size: 25px; 
}
#searchBtn{
	padding:0;
	width:100px;
	height:50px;
	position: absolute;  
    top: 50%; left: 50%;  
    margin-left: 201px; /* (width + padding)/2 */  
    margin-top: -25px; /* (height + padding)/2 */  
    font-size: 25px; 
}
#pege{
	width:100%;
	position: absolute;
	bottom: 0;
}